* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*Navigation Bar*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    transition: 0.6s;
    z-index: 100000;
    overflow: hidden;
}

nav.sticky {
    padding: 5px 40px;
    background-color: #000;
}

nav .logo-div {
    position: relative;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}

nav .logo-div img {
    width: 60px;
    height: 60px;
}

nav .logo-div .logo {
    font-size: 2.8rem;
    text-decoration: none;
    color: white;
    font-family: 'Marck Script';
    font-weight: 600;
    letter-spacing: 3px;
}

nav .logo-div .logo span {
    color: orange;
    font-family: 'Grenze Gotisch';
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 1.5rem;
    font-family: 'Grenze Gotisch';
    letter-spacing: 1px;
    transition: 0.7s;
}

nav ul li a.active {
    color: orange;
}

nav ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition: all 0.6s;
}

nav ul li a:hover {
    color: orange;
}

nav ul li:hover::after {
    width: 100%;
}


/*Image Slider*/

.image-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel .slides {
    width: 100%;
    height: 100%;
}

.carousel .slides img {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slides .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    z-index: 1;
}

.slides .content {
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: 60%;
    color: white;
    padding: 10px;
    z-index: 2;
}

.slides .content h2 {
    width: 50%;
    font-size: 3rem;
    font-family: 'Acme';
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-bottom: 10px;
}

.slides .content p {
    width: 90%;
    padding: 10px;
    font-size: 1.7rem;
    font-family: 'Niconne';
    letter-spacing: 2px;
    line-height: 2rem;
}

.carousel .owl-dots {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel .owl-dots .owl-dot span {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
}


/*Destination Cards*/

.destination-box {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(120deg, #1f3f4d, #693233);
    position: relative;
    overflow: hidden;
}

.destination-box .destin-heading {
    width: 43%;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 10px;
    color: lightgray;
}

.destination-box .destin-heading h2 {
    font-family: 'Grenze Gotisch';
    letter-spacing: 2px;
    font-size: 2rem;
}

.destination-box .destin-heading h2 span {
    display: inline-block;
    font-size: 3rem;
    font-family: 'Kaushan Script';
    color: #d4875b;
}

.destination-box .card-box {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    position: relative;
    top: 200px;
    overflow: hidden;
}