    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    /*Navigation Bar*/
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 40px 10px 50px;
        transition: 0.6s;
        z-index: 100000;
        overflow: hidden;
    }
    
    nav .logo-div {
        position: relative;
        display: flex;
        align-items: center;
        transition: 0.6s;
        float: left;
    }
    
    nav .logo-div img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    
    nav .logo-div .logo {
        font-size: 2.8rem;
        text-decoration: none;
        color: white;
        font-family: 'Marck Script';
        font-weight: 600;
        letter-spacing: 3px;
    }
    
    nav .logo-div .logo span {
        color: orange;
        font-family: 'Grenze Gotisch';
    }
    
    nav .nav-bar {
        position: relative;
        float: right;
        padding: 10px;
        margin: 5px 0;
    }
    
    nav::after {
        content: '';
        display: block;
        clear: both;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav ul li {
        position: relative;
        list-style: none;
    }
    
    nav ul li a {
        text-decoration: none;
        display: block;
        color: white;
        margin: 0 15px;
        font-size: 1.5rem;
        font-family: 'Grenze Gotisch';
        letter-spacing: 1px;
        transition: 0.6s;
        padding: 0 2px;
    }
    
    nav ul li a.active {
        color: orange;
    }
    
    nav ul li::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background-color: #fff;
        position: absolute;
        transition: all 0.6s;
    }
    
    nav ul li a:hover {
        color: orange;
    }
    
    nav ul li:hover::after {
        width: 100%;
    }
    
    nav ul li:last-child:hover::after {
        width: 0%;
    }
    
    nav.sticky {
        padding: 5px 35px;
        background-color: #000;
    }
    /*Image Slider*/
    
    .image-slider {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    
    .carousel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .carousel .slides {
        width: 100%;
        height: 100%;
    }
    
    .carousel .slides img {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
    .slides .background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        opacity: 0.4;
        z-index: 1;
    }
    
    .slides .content {
        position: absolute;
        bottom: 20%;
        left: 5%;
        width: 60%;
        color: white;
        padding: 10px;
        z-index: 2;
    }
    
    .slides .content h2 {
        width: 50%;
        font-size: 3rem;
        font-family: 'Acme';
        letter-spacing: 2px;
        word-spacing: 3px;
        margin-bottom: 10px;
    }
    
    .slides .content p {
        width: 90%;
        padding: 10px;
        font-size: 1.7rem;
        font-family: 'Niconne';
        letter-spacing: 2px;
        line-height: 2rem;
    }
    
    .carousel .owl-dots {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY( -50%);
        display: flex;
        flex-direction: column;
    }
    
    .carousel .owl-dots .owl-dot span {
        background-color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    /*Destination Cards*/
    
    .destination-box {
        width: 100%;
        height: 141.1em;
        background-image: linear-gradient(120deg, #1f3f4d, #693233);
        position: relative;
        overflow: hidden;
    }
    
    .destination-box .destin-heading {
        width: 43%;
        position: absolute;
        top: 1%;
        left: 6%;
        padding: 10px;
        color: lightgray;
    }
    
    .destination-box .destin-heading h2 {
        font-family: 'Grenze Gotisch';
        letter-spacing: 2px;
        font-size: 2rem;
    }
    
    .destination-box .destin-heading h2 span {
        display: inline-block;
        font-size: 3rem;
        font-family: 'Kaushan Script';
        color: #d4875b;
    }
    
    .destination-box .card-box {
        width: 100%;
        height: auto;
        position: absolute;
        top: 6%;
        left: 0;
        overflow: hidden;
        padding: 20px 15px 0px;
    }
    
    .card-box .card-design {
        width: 31%;
        position: relative;
        float: left;
        color: #fff;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        margin: 0 15px 40px;
        box-shadow: 2px 2px 5px 2px rgb(117, 116, 116);
        overflow: hidden;
    }
    
    .card-box .card-design::after {
        content: '';
        display: block;
        clear: both;
    }
    
    .card-box .card-design .image {
        width: 100%;
        height: 270px;
        position: relative;
        overflow: hidden;
    }
    
    .card-box .card-design .image .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.35);
        transition: 0.5s;
    }
    
    .card-box .card-design .image img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 12px;
        transition: 0.6s ease;
    }
    
    .card-box .card-design .image h3 {
        position: absolute;
        bottom: 5%;
        left: 3%;
        font-size: 2em;
        font-family: 'Grenze Gotisch';
        letter-spacing: 2px;
        color: orange;
        transform: translateX(0px);
        visibility: visible;
        opacity: 1;
        transition: 0.5s ease-out;
    }
    
    .card-box .card-design .content {
        padding: 15px;
        position: relative;
        width: 100%;
        height: 360px;
    }
    
    .card-design .content::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.06);
        pointer-events: none;
    }
    
    .card-box .card-design .content h2 {
        text-align: center;
        font-family: 'Niconne';
        letter-spacing: 2px;
        margin-bottom: 6px;
    }
    
    .card-box .card-design .content p {
        text-align: justify;
        font-size: 1.1rem;
        font-family: cursive;
        margin-bottom: 10px;
    }
    
    .card-box .card-design .content a {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 0;
        font-size: 1.3rem;
        font-family: 'Acme';
        text-decoration: none;
        color: white;
        border: 2px solid white;
        transform: translateY(-40px);
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
        cursor: pointer;
    }
    
    .card-design:hover img {
        transform: scale(1.2, 1.2);
    }
    
    .card-design:hover .image h3 {
        transform: translateX(-80px);
        visibility: hidden;
        opacity: 0;
    }
    
    .card-design:hover .image .overlay {
        visibility: hidden;
        opacity: 0;
    }
    
    .card-design:hover .content a {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
    
    .card-design .content a:hover {
        background-color: #fff;
        color: black;
    }
    
    .destination-box .pagination {
        display: inline-block;
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 0px 4px rgb(153, 152, 152);
        margin-bottom: 12px;
    }
    
    .destination-box .pagination a {
        color: white;
        float: left;
        padding: 8px 24px;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;
        box-shadow: 0px 0px 2px rgb(153, 152, 152);
    }
    
    .destination-box .pagination a.active {
        color: #d4875b;
    }
    
    .destination-box .pagination a:hover {
        background-color: #d4875b;
        color: black;
    }
    /*Footer*/
    
    .footer {
        width: 100%;
        color: white;
        overflow: hidden;
        background-color: rgb(44, 45, 49);
    }
    
    .upper-part {
        width: 100%;
        padding: 20px 20px 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        font-family: 'Marck Script';
    }
    
    .logo-details {
        width: 28%;
        padding: 8px;
        text-align: center;
    }
    
    .logo-details h1 {
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    
    .logo-details h1 span {
        display: inline;
        color: orange;
        font-size: 2.3rem;
        font-family: 'Grenze Gotisch';
    }
    
    .logo-details h1 i {
        font-size: 2.5rem;
    }
    
    .logo-details p {
        font-size: 1.2rem;
        line-height: 24px;
        text-align: justify;
    }
    
    .links {
        width: 15%;
        padding: 15px 8px 8px;
    }
    
    .links a {
        font-size: 1.5rem;
        padding: 5px;
    }
    
    .upper-part a {
        text-decoration: none;
        color: white;
        display: block;
        font-weight: 600;
        transition: 0.5s;
        letter-spacing: 1.5px;
    }
    
    .upper-part a:hover {
        color: orange;
    }
    
    .contact {
        width: 25%;
        padding: 12px 8px;
    }
    
    .contact h1 {
        padding: 5px;
        border-bottom: 1px solid white;
    }
    
    .contact a {
        font-size: 1.2rem;
        padding: 10px;
        letter-spacing: 2px;
    }
    
    .contact a i {
        margin-right: 12px;
    }
    
    hr {
        color: gray;
        width: 95%;
        margin: 0 auto;
        opacity: 0.4;
    }
    
    .lower-part {
        width: 100%;
        padding: 20px;
    }
    
    .lower-part p {
        color: gray;
        font-size: 1.1rem;
        float: left;
        margin: 20px 10px;
    }
    
    .lower-part .icons {
        margin-right: 30px;
        float: right;
        position: relative;
    }
    
    .lower-part::after {
        content: '';
        display: block;
        clear: both;
    }
    
    .lower-part .icons ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    
    .lower-part .icons ul li {
        list-style: none;
    }
    
    .lower-part .icons ul li i {
        cursor: pointer;
        transition: 0.5s;
        font-size: 1.5rem;
    }
    
    .lower-part .icons li a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 10px 20px;
        text-align: center;
    }
    
    .lower-part .icons li:nth-of-type(1) a:hover i {
        color: #3b5999;
    }
    
    .lower-part .icons li:nth-of-type(2) a:hover i {
        color: #55acee;
    }
    
    .lower-part .icons li:nth-of-type(3) a:hover i {
        color: #bd081c;
    }
    
    .lower-part .icons li:nth-of-type(4) a:hover i {
        color: #0077B5;
    }
    
    .lower-part .icons li:nth-of-type(5) a:hover i {
        color: #e4405f;
    }
    
    .lower-part .icons li:nth-of-type(6) a:hover i {
        color: #20b2aa;
        transform: scale(2, 2);
    }
    /*Responsive*/
    
    @media screen and (max-width: 1300px) {
        /*Destination Cards*/
        .destination-box .card-box {
            top: 4%;
            padding: 20px 20px 0px;
        }
        .card-box .card-design {
            width: 46%;
            margin: 0 15px 40px;
        }
    }
    
    @media screen and (max-width: 1080px) {
        nav {
            padding: 20px 10px 10px;
        }
        nav .logo-div img {
            width: 55px;
            height: 55px;
        }
        nav .logo-div .logo {
            font-size: 2.2rem;
        }
        nav.sticky {
            padding: 5px 10px;
        }
        nav .nav-bar {
            padding: 5px;
        }
        nav .nav-bar ul li a {
            padding: 0;
            margin: 0 10px;
        }
        /*Image Slider*/
        .slides .content h2 {
            width: 65%;
        }
        /*Destination Cards*/
        .destination-box {
            height: 226em;
        }
        .destination-box .destin-heading {
            width: 75%;
        }
        .destination-box .card-box {
            top: 4%;
            padding: 20px 30px 0px;
        }
        .card-box .card-design {
            width: 45%;
            margin: 0 15px 40px;
        }
    }
    
    @media screen and (max-width: 840px) {
        nav {
            padding: 20px 40px 10px 30px;
            background-color: #000;
            border-bottom: none;
        }
        .menu-toggle {
            display: block;
            width: 45px;
            height: 45px;
            float: right;
            margin: 10px;
            text-align: center;
            cursor: pointer;
            color: white;
            font-size: 32px;
            padding-top: 5px;
        }
        .menu-toggle::before {
            content: '\f0c9';
            font-family: fontAwesome;
            line-height: 40px;
            transition: 0.4s;
        }
        .menu-toggle.active::before {
            content: '\f00d';
        }
        .nav-bar {
            display: none;
        }
        .nav-bar.active {
            display: block;
            width: 100%;
            background-color: #000;
        }
        .nav-bar.active ul {
            display: block;
            text-align: center;
        }
        .nav-bar.active li {
            padding: 10px 0;
        }
        .nav-bar.active li:last-child {
            display: none;
        }
        /*Image Slider*/
        .slides .content {
            bottom: 20%;
            width: 65%;
        }
        .slides .content h2 {
            width: 100%;
            font-size: 2rem;
        }
        /*Destination Cards*/
        .destination-box {
            height: 246em;
        }
        .destination-box .destin-heading {
            width: 85%;
        }
        .destination-box .card-box {
            top: 4%;
            padding: 20px 17px 0px;
        }
        .card-box .card-design {
            width: 44%;
            margin: 0 15px 40px;
        }
        .card-box .card-design .image h3 {
            font-size: 1.7em;
        }
        .card-box .card-design .content {
            height: 420px;
        }
        .card-box .card-design .content p {
            font-size: 1rem;
        }
        /*Footer*/
        .upper-part {
            padding: 20px 10px 10px;
        }
        .logo-details {
            padding: 0px;
        }
        .logo-details h1 span {
            font-size: 2rem;
        }
        .logo-details h1 i {
            font-size: 2rem;
        }
    }
    
    @media screen and (max-width: 610px) {
        .menu-toggle {
            margin: 0px;
            font-size: 30px;
        }
        /*Image Slider*/
        .slides .content {
            bottom: 12%;
            width: 65%;
        }
        .slides .content h2 {
            width: 100%;
            font-size: 2rem;
            word-spacing: 2px;
            margin-bottom: 8px;
        }
        .slides .content p {
            width: 100%;
            padding: 8px;
            font-size: 1.4rem;
        }
        /*Destination Cards*/
        .destination-box {
            height: 392em;
        }
        .destination-box .destin-heading {
            width: 100%;
            top: 0;
            left: 0;
            padding: 7px;
            text-align: center;
        }
        .destination-box .card-box {
            top: 2%;
            padding: 15px 12px 0px;
        }
        .card-box .card-design {
            width: 100%;
            float: none;
            margin: 0 0px 40px;
            box-shadow: 0px 2px 4px 2px rgb(117, 116, 116);
        }
        .card-box .card-design .image h3 {
            font-size: 2em;
        }
        .card-box .card-design .content {
            height: auto;
        }
        .card-box .card-design .content h2 {
            font-size: 2rem;
            margin-bottom: 15px;
        }
        .card-box .card-design .content p {
            font-size: 1.2rem;
        }
        .destination-box .pagination {
            bottom: 0;
        }
        /*Footer*/
        .upper-part {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .logo-details {
            width: 100%;
        }
        .links {
            width: 100%;
            padding: 15px;
        }
        .contact {
            width: 100%;
            padding: 15px;
        }
        .lower-part p {
            float: none;
            text-align: center;
        }
        .lower-part .icons {
            margin: 10px;
            float: none;
        }
    }
    
    @media screen and (max-width: 480px) {
        nav {
            padding: 20px 10px 10px;
        }
        nav .logo-div img {
            margin-right: 5px;
        }
        nav .logo-div .logo {
            font-size: 2.3rem;
            letter-spacing: 2px;
        }
        /*Image Slider*/
        .slides .content {
            bottom: 20%;
            left: 0;
            width: 100%;
        }
        .slides .content h2 {
            width: 100%;
            word-spacing: 2px;
            margin-bottom: 8px;
        }
        .slides .content p {
            width: 100%;
            padding: 8px;
            font-size: 1.4rem;
        }
        .carousel .owl-dots {
            bottom: -40%;
            left: 50%;
            padding: 0 20px;
            transform: translateX(-45%);
            flex-direction: row;
        }
        .carousel .owl-dots .owl-dot span {
            width: 10px;
            height: 10px;
            margin-right: 20px;
        }
        /*Destination Cards*/
        .destination-box {
            height: 378em;
        }
        .card-box .card-design .content p {
            font-size: 1rem;
            margin-bottom: 8px;
        }
        .destination-box .pagination a {
            padding: 8px 10px;
        }
    }
    
    @media screen and (max-width:345px) {
        nav .logo-div .logo {
            font-size: 2rem;
            letter-spacing: 2px;
        }
        /*Image Slider*/
        .slides .content h2 {
            font-size: 1.8rem;
        }
        .slides .content p {
            padding: 5px;
        }
        .carousel .owl-dots {
            padding: 0;
        }
        .carousel .owl-dots .owl-dot span {
            margin-right: 15px;
        }
        /*Destination Cards*/
        .destination-box {
            height: 460em;
        }
        .destination-box .pagination {
            bottom: 0;
        }
    }